:root {
    /* Primary Colors */
    --primary-color: #032b22;
    --accent-color: #c2759e;
    --secondary-color: #40ffb5;
    --submit-btn-color: #9cfffa;
    --light-bg: #efede7;

    /* Text Colors */
    --text-white: #ffffff;
    --text-black: #000000;
    --text-light: whitesmoke;
    --text-green: #006d36;

    /* Links and Accents */
    --footer-link-color: #053f33;

    /* Overlays */
    --overlay-color: rgba(75, 75, 75, 0.75);
}

.profile-image {
    width: 150px;
    /* Adjust as needed */
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Container for the About Me page */
.about-container {
    background-color: var(--light-bg);
    color: var(--text-black);
    padding: 2rem;
    text-align: left;
}

/* Header Section Styling */
.about-header {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    text-align: left;
}

.about-header h1 {
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

.about-header h3 {
    color: var(--secondary-color);
}

/* Card Styling */
.about-card {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-white);
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

.about-card-title {
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
}

.about-card-text {
    font-size: 1rem;
    line-height: 1.6;
}

/* Link Styling */
.about-links a {
    color: var(--accent-color);
    text-decoration: none;
}

.about-links a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Image Styling */
.about-image {
    width: 33%;
    height: auto;
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {

    /* Remove centering for smaller screens */
    .about-header,
    .about-container {
        text-align: left;
    }
}