:root {
    /* Primary Colors */
    --primary-color: #032b22;      /* Used for body, header, nav, about section background, footer, etc. */
    --accent-color: #c2759e;       /* Used for home-txt h1, left/right h3, and background on page 1 */
    --secondary-color: #40ffb5;    /* Used for headings in about, history h3, footer h3 */
    --submit-btn-color: #9cfffa;   /* Used in contact form h1 and submit button background */
    --light-bg: #efede7;           /* Used for backgrounds on pages 2, 3, and footer contact link */
    --primary-color2: #053c30;      /* Used for body, header, nav, about section background, footer, etc. */
    /* Text Colors */
    --text-white: #ffffff;         /* Common white text color */
    --text-black: #000000;         /* Used for black text in some sections */
    --text-light: whitesmoke;      /* Lighter text, for example in footer p */
    --text-green: #006d36;      /* Used for body, header, nav, about section background, footer, etc. */

    /* Links and Accents */
    --footer-link-color: #053f33;  /* Used for footer contact links */
    
    /* Overlays */
    --overlay-color: rgba(75, 75, 75, 0.75); /* Used in the contact page overlay */
  }
  