@import url("colorset.css");
.homepage {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url(../assets/bck1.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

  
/* .hero-container { */
  /* padding: 15px; */
  /* background-color: rgba(255, 181, 223, 0.7); */
  /* border: solid 2px var(--text-white); */
  /* border-radius: 5px; */
/* } */
.primary-h1 {
  font-weight: bold;
}
.secondary-h1 {
  color: var(--text-white);
  font-size: 75%;
}
.btn.consultation-btn {
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--accent-color);
  border: 2px solid var(--text-white);
  transition: background-color 0.7s ease, color 0.7s ease;
}

.btn.consultation-btn:hover {
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--secondary-color);
}

.container {
  width: 75%;
}

/* Media query to adjust button text size on smaller screens */
@media (max-width: 425px) {
  .homepage h1 {
    font-size: 1.75rem;
  }

  .btn.consultation-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}