:root {
  /* Primary Colors */
  --primary-color: #032b22;      /* Used for body, header, nav, about section background, footer, etc. */
  --accent-color: #c2759e;       /* Used for home-txt h1, left/right h3, and background on page 1 */
  --secondary-color: #40ffb5;    /* Used for headings in about, history h3, footer h3 */
  --submit-btn-color: #9cfffa;   /* Used in contact form h1 and submit button background */
  --light-bg: #efede7;           /* Used for backgrounds on pages 2, 3, and footer contact link */
  
  /* Text Colors */
  --text-white: #ffffff;         /* Common white text color */
  --text-black: #000000;         /* Used for black text in some sections */
  --text-light: whitesmoke;      /* Lighter text, for example in footer p */
  
  /* Links and Accents */
  --footer-link-color: #053f33;  /* Used for footer contact links */
  
  /* Overlays */
  --overlay-color: rgba(75, 75, 75, 0.75); /* Used in the contact page overlay */
}

#root {
  background-color: var(--light-bg);
  color: var(--text-white);
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
